$primary: #e9f0fd;
$screen-md-max: 790px;
$screen-sm-max: 600px;

@mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
 }
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
 }

* {
    box-sizing: border-box;
}
nav {
    background: white;
    padding: 20px;
    h1 {
        font-size: 1.5em;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}
.hero {
    background: $primary;
    padding: 70px 20px 160px;
    text-align: center;
    .title {
        font-size: 2.3em;
        line-height: 1.2;
    }
    .subtitle {
        margin-top: 10px;
    }
}
.phone-list-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px 20px;
    margin: -80px auto 150px;
    max-width: 790px;
    .phone {
        position: relative;
        padding: 50px;
        margin: 0px;
        padding-top: 45%;
        border: 1px solid $primary;
        background-color: white;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &:hover {
            cursor: pointer;
            .title {
                background: $primary;
            }
        }
        .title {
            position: absolute;
            background: white;
            left: 50%;
            transform: translate(-50%, 50%);
            bottom: 0;
            padding: 15px 20px;
            min-width: 70%;
            text-align: center;
            border-radius: 55px;
            border: 1px solid $primary;
            box-shadow: 0 1px 2px rgba(60,63,66,.05), 
                        0 4px 15px rgba(60,63,66,.07);
            font-size: 1.2em;
            transition: background .2s ease;
        }
    }
    .phone-detail {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($primary, .8);
        z-index: 1;
        .inner{
            position: absolute;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @include sm {
                grid-template-columns: 1fr;
                grid-template-rows: 2fr 1fr;
                padding-top: 50px;
            }
            left: 25%;
            right: 25%;
            top: 25%;
            bottom: 25%;
            @include md {
                left: 5%;
                right: 5%;
                top: 5%;
                bottom: 5%;
            }
            margin: auto;
            padding: 20px;
            border-radius: 5px;
            background: white;
            box-shadow: 0 1px 2px rgba(60, 63, 66, 0.05), 0 4px 15px rgba(60, 63, 66, 0.07);
            button {
                background: none;
                border: none;
                color: #aaaaaa;
                position: absolute;
                font-size: .9em;
                top: 20px;
                right: 20px;
                &:hover {
                    cursor: pointer;
                    color:#555555;
                }
            }
            .phone-image {
                height: 100%;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }
            .details {
                padding: 20px;
                .title {
                    font-size: 1.5em;
                    margin-bottom: 10px;
                }
                .brand {
                    color: #555555;
                }
                .color {
                    margin-top: 20px;
                }
                .price {
                    font-size: 1.2em;
                    margin-top: 20px;
                    font-weight: 700;
                }
            }
        }
    }
    .lds-dual-ring {
        position: absolute;
        bottom: -75px;
        left: 50%;
        transform: translateX(-50%);
    }
    button.load-more {
        position: absolute;
        width: 100%;
        bottom: -120px;
        padding: 10px;
        background: white;
        border: 1px solid $primary;
        transition: background .2s ease;
        &:hover{
            background: $primary;
            cursor: pointer;
        }
    }
}

